body {
  color: #000000;
  background-color: #8fab73;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 15px;
}

select {
  font-size: 16px;
  padding: 5px;
  margin: auto 10px;
  background-color: #f46036;
  border: dotted 2px #000000;
  border-radius: 15px;
  cursor: pointer;
}

button {
  font-size: 16px;
  margin: 20px;
  padding: 5px 10px;
  background-color: #90ddaf;
  border: dotted 2px #000000;
  border-radius: 15px;
  cursor: pointer;
}
button:hover {
  background-color: #76cfa3;
}
.result{
  margin: 5% auto;
  border: dotted 5px #000000;
  background-color: #f18955;
  width: 60%;
}
.details{
  margin: 10% auto;
  border: dotted 5px #000000;
  background-color: #dfe765;
  width: 40%;
}

.modal {
  background-color: #f18955;
  padding: 30px;
  position: fixed;
  border-radius: 10px;
  margin: auto;
  border: 2px solid #000000;
  width: 35%;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center; 
  justify-content: center;
}

nav{
  background-color: #f46036;
  width: 50%;
  margin: 25px auto;
  padding: 10px;
  border: dotted 2px #000000;
  border-radius: 15px;
  justify-content: space-between;
}

nav a{
  margin: 0 15px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

ul{
  list-style-type: none;
  padding: 0;
}

.editForm input, .editForm select, .editForm textarea {
  display: block;
  margin: auto;
  width: 10%;
  border: 2px solid #000000;
  border-radius: 10px;
}

.manufacturerListed {
  margin: 5% auto;
  border: dotted 5px #000000;
  background-color: #f18955;
  width: 20%;
  padding-bottom: 20px;
  justify-content: center;
}

.manufacturerListed:hover {
  background-color: #f8a57c;
  cursor: pointer;
}

.manufacturerDetails{
  margin: 10% auto;
  border: dotted 5px #000000;
  background-color: #dfe765;
  width: 30%;
  justify-content: center;
}